body {background-color: rgb(244, 222, 206);
     font-size: 20px;
     line-height: 2;
    font-family: Arial, Helvetica, serif;}
      
 h1 {color: rgb(108, 52, 12);
    font-size: 50px;
    text-align: center;}

.kontakty {line-height:2;
    text-align: center;
    margin: 50px;
   padding:20px;
   }

 h2 {font-family: Arial, Helvetica, serif;
    color:rgb(108, 52, 12);
   text-align: center;}   
    
  a {color: blue;}  
 .pata {text-align: center;
        font-weight: bolder;
        color: rgb(250, 234, 222);
    background-color: rgb(69, 42, 8);}
 img {width: 400px;;
    height: 300px ;
    border-radius:50%;} 
.vzdelani {text-align: center;
   margin: 50px;
   padding:20px;
}
.praxe {text-align: center;
   margin:10px 50px 10px 50px;
   padding:20px;}
.jazyky{text-align: center;
   margin: 50px;
   padding:20px;}
.dalsi {text-align: center;
   margin: 50px;
   padding:20px;}
.chci {text-align: center;
   margin: 50px;
   padding:20px;}




